@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.home,.about,.videos,.cast {
    //background-size: cover;
    height: 44rem;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
        margin-top: 0px;
        color: #fff;
        font-family: serif;
        font-weight: 500;
        font-size: 1.5rem;
        max-width: 900px;
        margin:0 auto;
        text-shadow: 2px 2px 2px #000;
    }
    a {
        color: #fff;
       
        padding-bottom: 2px;
    }
}

.react-parallax-bgimage {
    height: auto !important;
    top: 10% !important; 
}

.react-parallax-content {
   
    overflow: scroll;
}

.departed {
    font-size: .8rem;
}

.cast-member-container,.videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.videos-container p {
    max-width: 300px;
}



.about p {
    font-size: 1rem;
    margin-bottom: 12px;

}

.modal-content {
    background-image: url('../images/banner2.jpg');
    border: 2px solid #fff;
}

.modal-header {
    display: flex;
    flex-direction: column;
}
.modal-header,h2,.cast-name {
    font-family: 'Cinzel', serif;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
}

.cast-photo{
    width: 150px;
    max-width: 100%;
    box-shadow:0px 0px 5px #fff;
    cursor: pointer;
}

.about-photo {
    width: 150px;
    max-width: 100%;
}

.cast-info {
    font-size: 1rem !important;
    text-shadow: 1px 1px 5px #000;
}

.member,.video {
    margin: 2rem;
}



